.contenedorPosts {
  display: flex;
  align-items: row;
  justify-content: space-evenly;
  
}
.post {
  margin-top: 1%;
  border-radius: 10px;
  border-color: black;
}

img {
  height: 150px;
  width: 150px;
}
.inputContainer {
  display: flex;
  align-items: row;
}
main {
  display: flex;
  align-items: row;
}
